<div data-hook='admin_sale_price_form_fields'>
  <div class='row'>
    <div class='col-4'>
      <%= f.field_container :original_price do %>
        <%= f.label :original_price, Spree.t(:original_price) %>
        <%= f.text_field :original_price, value: @product.original_price, disabled: true, class: 'fullwidth' %>
      <% end %>
    </div>

    <div class='col-4'>
      <%= f.field_container :currency do %>
        <%= f.label :currency, Spree.t(:sale_price_currency) %>
        <%= select_tag :currency, options_for_select(supported_currencies_for_sale_price), class: 'custom-select fullwidth', name: 'sale_price[currency]' %>
      <% end %>
    </div>

    <div class='col-4'>
      <%= f.field_container :value do %>
        <%= f.label :value, Spree.t(:value) %>
        <%= f.text_field :value, class: 'fullwidth' %>
        <%= f.error_message_on :value %>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-4'>
      <%= f.field_container :start_at do %>
        <%= f.label :start_at, Spree.t(:start_at) %>
        <%= f.text_field :start_at, value: datepicker_field_value(@sale_price.start_at), class: 'datepicker fullwidth' %>
        <%= f.error_message_on :start_at %>
      <% end %>
    </div>

    <div class='col-4'>
      <%= f.field_container :end_at do %>
        <%= f.label :end_at, Spree.t(:end_at) %>
        <%= f.text_field :end_at, value: datepicker_field_value(@sale_price.end_at), class: 'datepicker fullwidth' %>
        <%= f.error_message_on :end_at %>
      <% end %>
    </div>

    <% if @product.has_variants? %>
      <div class='col-4'>
        <%= f.field_container :variant_id do %>
          <%= f.label :variant_id, Spree.t(:variants) %>
          <%= select_tag :variant_id, options_from_collection_for_select(@product.variants_including_master, :id, :sku_and_options_text, @sale_price.variant_id), class: 'custom-select fullwidth', name: 'sale_price[variant_id]' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>