<% content_for :page_actions do %>
  <% if can?(:admin, Spree::SalePrice) %>
    <li><%= button_link_to Spree.t(:back_to_sale_prices_list), admin_product_sale_prices_path(@product), icon: 'arrow-left' %></li>
  <% end %>
<% end %>

<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'On Sale' } %>
<%= render partial: 'spree/shared/error_messages', locals: { target: @sale_price } %>

<% content_for :page_title do %>
  <%= Spree.t(:sale_price) %>
<% end %>

<%= form_for [:admin, @product, @sale_price], method: :put do |f| %>
  <%= render 'form', f: f %>
  <%= render 'spree/admin/shared/edit_resource_links', collection_url: admin_product_sale_prices_url %>
<% end %>